<div class="boardWrapper">
  <h4>Emoji Verification</h4>
  <small>Click start and mimic the emoji shown below.</small>
  <hr>
  <div style="text-align:center">
    <video id="sec-log-vid" controls autoplay ></video>
    <canvas id="sec-log-can" width=400 height=400 style="display:none"></canvas>
  </div>
  <hr>
  <div>
    <h6>Progress Bar</h6>
    <div id="sec-log-pro-bar"></div>
    <div class="progress">
      <div class="progress-bar bg-danger" style="width: 25%"><span class="sec-pro-emo">{{emojiSequence[0]}}</span></div>
      <div class="progress-bar bg-warning" style="width: 25%"><span class="sec-pro-emo">{{emojiSequence[1]}}</span></div>
      <div class="progress-bar bg-info" style="width: 25%"><span class="sec-pro-emo">{{emojiSequence[2]}}</span></div>
      <div class="progress-bar bg-success" style="width: 25%"><span class="sec-pro-emo">{{emojiSequence[3]}}</span></div>

    </div>
  </div>
  <hr>
  <div style="text-align:left" *ngIf="start">
    <button class="btn btn-warning" type="button" (click)="startBar()">Start</button>
  </div>
  <div style="text-align:left" *ngIf="captured">
    <button class="btn btn-warning" type="button" (click)="onSubmit()">Submit</button>
  </div>
  <div style="text-align:left" *ngIf="!responsed && captured">
    <p>Waiting</p>
  </div>
  <div style="text-align:left" *ngIf="responsed && captured">
    <p>Done</p>
  </div>
</div>
